GEMINI_API_KEY=gemini_token
GROQ_API_KEY=groq_token
OPENAI_API_KEY=openai_token
OPENROUTER_API_KEY=openrouter_token
GIST_ID=gist_id
GITHUB_TOKEN=github_token
## LVA env vars
LVA_USER_ID=1000
LVA_USER_GROUP=1000
PULSE_SERVER=unix:/run/user/$LVA_USER_ID/pulse/native
LVA_NAME=microphone
# Customize the local static wake sound
WAKEUP_SOUND=/media/wakeup_sounds/sound.wav
WAKE_MODEL=alexa
CLIENT_NAME=LVA
LISTEN_DURING_WAKE_SOUND=0
HOST=127.0.0.1
